<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Branch</title>
    <link rel="stylesheet" th:href="@{/add.css}"/>
</head>
<body>

        <h2>Add New Branch</h2>

        <form th:action="@{/branch/add}" th:method="post" enctype="application/x-www-form-urlencoded" th:object="${branch}">

            <div>
                <label>Name:</label>
                <input type="text" th:field="*{nameBranch}" name="nameBranch" required>
            </div>
            <div>
                <label>Country:</label>
                <input type="text" th:field="*{countryBranch}" name="countryBranch" required>
            </div>
            <div class="action-buttons">
                <button type="submit" class="btn btn-accept">Accept</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
        </form>

</body>
</html>